{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Récapitulatif</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a tellus accumsan, ultricies magna nec, volutpat dolor.
        Nunc mollis nisl pharetra magna blandit posuere. Duis cursus luctus congue. Aenean blandit non ante sed varius.
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        Duis facilisis tellus vitae enim sodales vehicula. Duis pharetra rutrum diam.
        Quisque id aliquet tortor, non dignissim nunc. Maecenas elit neque, viverra id porta in, feugiat sit amet nisl. 
        Curabitur tincidunt velit ut libero posuere ultricies.
        Ut fringilla, dolor condimentum pulvinar finibus, lacus enim tempus nulla, quis fermentum ante sem nec turpis.
        Donec vehicula arcu nec velit finibus laoreet. Nulla in leo euismod, euismod turpis nec, aliquet odio.
        Proin eu iaculis nunc. Suspendisse diam velit, venenatis ac dolor nec, efficitur scelerisque tortor.
        Phasellus sed lectus tortor. Duis congue tempor velit, sed interdum ante vestibulum a.
        Suspendisse faucibus velit vel enim commodo, ut rhoncus diam consectetur. Nunc ac ullamcorper metus.
        Praesent luctus sagittis lacus, a mollis tortor commodo id. Vestibulum dictum at erat sed luctus. 
        Mauris non fringilla lorem. Nunc suscipit orci quis quam euismod, non fringilla enim vehicula.
    </p>

    <form action="/bookingValidation?adress={{ adress }}&date={{ date }}&hour={{ hour }}&benefit={{ benefit }}&idMenu={{ menu.id }}" method="POST">
        Nom du menu : {{menu.name_menu}} <br>
        Prix du menu (par personne) {{menu.price_menu}} <br>
        Choix du nombre de personne :
        <select id="nbMenu" name="nbMenu" value="{{ nbMenu }}">
            <option value="">Nombre de Personnes ({{menu.price_menu}} €/personne)</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <br>
        Adresse fournie : {{adress}} <br>
        Date fournie : {{date}} <br>
        Heure du repas : {{hour}} <br>
        Type de service : {{benefit}} <br>
        Prix de la prestation à vide : {{pricePrestation}}
        <button class="btn btn-sm btn-outline-secondary">Valider la commande</button>
    </form>

    {% for error in errors %}
	{{error}}
{% endfor %}

{% endblock %}