{% extends 'layout.html.twig' %}

{% block content %}
  <h1>Espace Particulier</h1>
  <p>Retrouvez votre historique de commandes et laissez nous votre avis sur nos menus !</p>

  {% for booking in bookings %}
    <li>Date : {{booking.date_booking}}</li>
    <li>Adresse : {{booking.adress_booking}}</li>
    <li>Nom du cuisinier : {{booking.firstname_cook}}</li>
    <li>Nom du menu : {{booking.name_menu}}</li>
    <li>Quantité de menu selectionné : {{booking.quantity_prestation}}</li>
    <li>Prix total : {{booking.price_prestation}} €</li>
    <br>
  {% endfor %}

  <p>Tous vos menus déjà commandés notés</p>

  {% for note in notes %}
    {% if note.user_note != '' %}
    <li>Nom du menu : {{note.name_menu}}</li>
    <li>Note globale du menu : {{note.note_menu}}</li>
    <li>Note de l'utilisateur : {{note.user_note}}</li>
    <a href="/note/edit?id={{ note.id }}">Modifier la note</a>
    {% endif %}
	{% endfor %}

  <p>Tous vos menus déjà commandés non notés</p>

  {% for note in notes %}
    {% if note.user_note is null or note.user_note is empty %}
    <li>{{note.name_menu}}</li>
    <li>{{note.note_menu}}</li>
    <a href="/note/add?id={{ note.id }}">Ajouter une note !</a>
    {% endif %}
	{% endfor %}
{% endblock %}