{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/user.css">
{% endblock %}

{% block content %}
<main>
  <div class="header">
    <img rel="icon" src="assets/images/favicon.ico" />
    <h1>Espace Particulier</h1>
  </div>
  <div class="bg-image" style="background-image: url('assets/images/user.jpg')">
    <h2>Retrouvez votre historique de commandes et laissez nous votre avis !</h2>
    <table class="table_user">
      <tr>
        <th scope='col'>Date de réservation</th>
        <th scope='col'>Adresse</th>
        <th scope='col'>Chef cuisinier</th>
        <th scope='col'>Nom du menu</th>
        <th scope='col'>Quantité de prestation</th>
        <th scope='col'>Prix total</th>
      </tr>
      {% for booking in bookings %}
      <tr>													
        <td>{{booking.date_booking}}</td>
        <td>{{booking.adress_booking}}</td>
        <td>{{booking.firstname_cook}}</td>										
        <td>{{booking.name_menu}}</td>										
        <td>{{booking.quantity_prestation}}</td>										
        <td>{{booking.price_prestation}}€</td>								
      </tr>
      {% endfor %}
    </table>

    <h2>Tous vos menus déjà commandés notés</h2>
    <table class="table_user">
      <tr>
        <th scope='col'>Nom du menu</th>
        <th scope='col'>Note globale du menu</th>
        <th scope='col'>Note de l'utilisateur</th>
        <th scope='col'>Modification</th>
      </tr>
      {% for note in notes %}
        {% if note.user_note != '' %}
          <tr>													
            <td>{{note.name_menu}}</td>
            <td>{{note.note_menu}}</td>
            <td>{{note.user_note}}</td>										
            <td><a href="/note/edit?id={{ note.id }}">Modifier la note</a></td>					
          </tr>
        {% endif %}
      {% endfor %}
    </table>

    <h2>Tous vos menus déjà commandés non notés</h2>
    <table class="table_user">
      <tr>
        <th scope='col'>Nom du menu</th>
        <th scope='col'>Note globale du menu</th>
        <th scope='col'>Ajout</th>
      </tr>
      {% for note in notes %}
        {% if note.user_note is null or note.user_note is empty %}
          <tr>													
            <td>{{note.name_menu}}</td>
            <td>{{note.note_menu}}</td>	
            <td><a href="/note/add?id={{ note.id }}">Ajouter une note !</a></td>													
          </tr>
          
        {% endif %}
      {% endfor %}
    </table>
  </div>
</main>
{% endblock %}