{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}
{% block content %}
	<section class="accueil bg-dark d-flex w-100 h-50 flex-column justify-content-center align-items-center">
		<h1 class="display-1 text-white text-center">Adoptez votre chef à domicile pour savourer les délices du monde!</h1>
		<p class="load text-center text-white">Vivez une expérience unique avec ce nouveau concept tendance qui est une alternative au restaurant</p>
	</section>

	<div id="form-line">
		<div class="container">
			<form action="/booking?adress={{ adress }}&date={{ date }}&hour={{ hour }}&benefit={{ benefit }}" method="GET">
				<div class="row">
					<div class="col-6 col-xl-3">
						<label for="adress">RÉSERVÉ À
						</label><br/>
						<input type="text" value="{{ adress }}" id="adress" name="adress" placeholder="Adresse, Code postal, ville..." required pattern="([0-9]*) ?([a-zA-Z,\. ]*) ?([0-9]{5}) ?([a-zA-Z]*)">
						<p>
							{% if errors['adress1'] %}
								{{errors['adress1']}}
							{% endif %}
						</p>
					</div>
					<div class="col-6 col-xl-2">
						<label for="date">LE</label><br/>
						<input type="date" value="{{ date }}" id="date" name="date" placeholder="Date" required>
						<p>
							{% if errors['date1'] %}
								{{errors['date1']}}
							{% endif %}
						</p>
					</div>
					<div class="col-6 col-xl-2">
						<label for="hour">À</label><br/>
						<input type="time" value="{{ hour }}" id="hour" name="hour" placeholder="Heure" required>
						<p>
							{% if errors['hour1'] %}
								{{errors['hour1']}}
							{% endif %}
						</p>
					</div>
					<div class="col-6 col-xl-3">
						<label for="benefit">Type de prestation</label><br/>
						<select id="benefit" name="benefit" value="{{ benefit }}">
							<option value="">--Faites votre choix--</option>
							<option value="dinner">Dîner</option>
							{# <option value="lesson">Cour de cuisine</option>
														<option value="gift">Offrir un menu ou cours</option> #}
						</select>
						<p>
							{% if errors['benefit1'] %}
								{{errors['benefit1']}}
							{% endif %}
						</p>
					</div>
					<div type="button" class="col-12 col-xl-2">
						<button type="submit">Validez votre choix</button>
					</div>
				</div>
			</form>
		</div>
	</div>


	<div class="album py-5 bg-light">
		<div class="container">
			<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-3">

				{% for menu in menus %}

					<div class="col">
						<div
							class="card shadow-sm">
							{#
																<img src="{{menu.image}}">
															#}
							<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: image-menu" preserveaspectratio="xMidYMid slice" focusable="false">
								<title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Image menu</text>
							</svg>
							<div class="card-body">
								<div class="d-flex justify-content-between">
									<h4 class="card-text">{{menu.name_menu}}</h4>
									<div class="rating"><!--
																					--><a href="#5" title="Give 5 stars">☆</a><!--
																					--><a href="#4" title="Give 4 stars">☆</a><!--
																					--><a href="#3" title="Give 3 stars">☆</a><!--
																					--><a href="#2" title="Give 2 stars">☆</a><!--
																					--><a href="#1" title="Give 1 star">☆</a>
									</div>
								</div>
								<div class=" d-flex justify-content-start">
									{% for key, tag in menu["tags"] %}
										{% if key <4 %}
											<div class="tag-container mb-2 me-2">
												{{tag.name_tag}}
											</div>
										{% endif %}
									{% endfor %}
									{% if menu["tags"]|length > 4 %}
										...
									{% endif %}
								</div>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										{% if adress %}
											<form action="/bookingMenu?adress={{ adress }}&date={{ date }}&hour={{ hour }}&benefit={{ benefit }}&idMenu={{ menu.id }}" method="POST">
												<input type="hidden" name="id" value="{{ menu.id }}">
												<button class="btn btn-sm btn-outline-secondary">Ajouter au panier</button>
											</form>
											{# {% else %}
																							<button type="button" class="btn btn-sm btn-outline-secondary">Ajouter au panier</button> #}
										{% endif %}
										<button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modal_{{menu.id}}">Voir ce menu</button>

										{# modal #}
										<div class="modal fade" id="modal_{{menu.id}}" tabindex="-1" role="dialog" aria-labelledby="modal_{{menu.id}}Title" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLongTitle">{{menu.name_menu}}</h5>
														<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">
														{% if menu.descr_menu_appetizer %}
															<div class="bloc">
																<p class="section">Amuse bouche</p>
																<h4 class="card-text">{{menu.descr_menu_appetizer}}</h4>
															</div>
														{% endif %}
														{% if menu.descr_menu_starter %}
															<div class="bloc">
																<p class="section">Entrée</p>
																<h4 class="card-text">{{menu.descr_menu_starter}}</h4>
															</div>
														{% endif %}
														{% if menu.descr_menu_meal %}
															<div class="bloc">
																<p class="section">Plat principal</p>
																<h4 class="card-text">{{menu.descr_menu_meal}}</h4>
															</div>
														{% endif %}
														{% if menu.descr_menu_dessert %}
															<div class="bloc">
																<p class="section">Dessert</p>
																<h4 class="card-text">{{menu.descr_menu_dessert}}</h4>
															</div>
														{% endif %}
														{% if menu.descr_menu_cheese %}
															<div class="bloc">
																<p class="section">Fromage</p>
																<h4 class="card-text">{{menu.descr_menu_cheese}}</h4>
															</div>
														{% endif %}
														{% if menu.descr_menu_cuteness %}
															<div class="bloc">
																<p class="section">Mignardise</p>
																<h4 class="card-text">{{menu.descr_menu_cuteness}}</h4>
															</div>
														{% endif %}
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
													</div>
												</div>
											</div>
										</div>

									</div>
									<small class="text-muted ms-4">{{menu.price_menu}}
										€/ personne</small>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}

{% block container_greet %}
	{% if user.username is defined %}
		<h1>Bonjour
			{{user.username}}
			!</h1>
		<a href="/logout">logout</a>
	{% else %}
		<h1>Bonjour nouveau client !</h1>
	{% endif %}
{% endblock %}
